{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Forgot Password</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  {% include 'includes/navbar.html' %}

  <!-- Main Form -->
  <div class="container">
    <h2>Forgot Password</h2>
    <p style="color: #e4416d;">Enter your email:</p>

    <form method="POST" style="display: flex; flex-direction: column; align-items: center;">
        {% csrf_token %}
        <input type="email" name="email" class="input-field" placeholder="Email Address" required>
      
        {% if email_sent %}
          <p class="success">Email sent</p>
          <button class="button" type="submit">Resend Email</button>
          <p class="note">Check your spam and junk folders</p>
          <p class="small-note">Please allow up to 60 seconds for the email link</p>
        {% else %}
          <button class="button" type="submit">Confirm</button>
        {% endif %}
      </form>
  </div>

</body>
</html>
